<main>
  <div class="container">
    <h3 class="mb-3">Supa Chat <button (click)="logOut()" class="btn btn-secondary" style="float: right;">Log
        out</button>
    </h3>
    <div class="card">
      <div>

        <div class="col-12 col-lg-12 col-xl-12">

          @for (msg of this.chats(); track msg) {
          <div class="position-relative">
            <div class="chat-messages p-4">
              <div class="chat-message-left pb-4">
                <div class="me-5">
                  <img
                    src={{msg?.users?.avatar_url}}
                    class="rounded-circle mr-1" alt="Sharon Doe" width="40" height="40">
                  <div class="text-muted small text-nowrap mt-2">{{msg?.created_at | date: 'M/d/yy, h:mm a'}}</div>
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                  <div class="font-weight-bold mb-1">{{msg?.users?.full_name}}</div>
                  {{msg?.text}}

                </div>
              </div>
            </div>
          </div>
        } @empty {
        <div>No chats available</div>
        } 
 

          <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
          <div class="flex-grow-0 py-3 px-4 border-top">
            <div class="input-group">
              <input formControlName="chat_message" type="text" class="form-control" placeholder="Type your message">
              <button [disabled]="!chatForm.valid" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>
</main>


<!-- Modal -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<app-delete-modal></app-delete-modal>